@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&display=swap')

header, footer {
  background-color: darkred;
}

body {

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
  color: darkred;
  background-color: #f7f7f7;
}